@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.leaflet-container {
  height: calc(100vh - 300px);
  width: 95%;
}
.leaflet-div-icon {
  background: transparent;
  border: none;
}
